<footer class="bg-dark text-white py-4 footer">
    <div class="container">
        <div class="row">
            <!-- Social Media Icons -->
            <div class="col-md-6 mb-3">
                <a href="https://www.linkedin.com/in/osamaahlasa/" class="text-white me-3">
                    <i class="fa fa-linkedin-square fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/osama.ahlasa/" class="text-white me-3">
                    <i class="fa fa-facebook-square fa-2x"></i>
                </a>
                <a href="https://www.youtube.com/your-channel-link" class="text-white me-3">
                    <i class="fa fa-youtube-play fa-2x"></i>
                </a>
            </div>

            <!-- Phone Number -->
            <div class="col-md-6 mb-3 text-end">
                <i class="fa fa-phone me-2"></i>
                +33 7 69 88 30 14
            </div>
        </div>

        <!-- Copyright -->
        <div class="row mt-4">
            <div class="col text-center">
                <p>&copy; 2023 Osama AHLASA. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
