<div class="hero-section container-fluid bg-light py-5">
    <div class="container">
        <h1 class="mb-4">Bienvenue sur mon Portfolio</h1>
        <div class="row">
            <div class="col-md-6 d-flex flex-column justify-content-center">
                <h2 class="text-hi">Salut,</h2>
                <h3 class="text-primary my-3">Je suis Osama AHLASA</h3>
                <h3 class="my-3">Développeur web Full Stack.</h3>
                <p class="mb-3">Passionné par le monde du développement, j'ai acquis une solide formation tant en front-end qu'en back-end. Je suis actuellement à la recherche d'opportunités pour débuter ma carrière et mettre en pratique mes compétences.</p>
                <p class="mb-4">Mon objectif est de créer des solutions web innovantes et performantes, tout en assurant une expérience utilisateur exceptionnelle. Découvrez mes réalisations et n'hésitez pas à me contacter pour échanger sur votre projet ou des opportunités de collaboration.</p>
                <div class="row mt-3">
                    <div class="col-12 col-md-6 mb-2 mb-md-0 pr-md-1">
                        <a href="https://www.linkedin.com/in/osamaahlasa/" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                            <button class="btn btn-primary w-100">Engagez-moi!</button>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 pl-md-1">
                        <a href="https://drive.google.com/file/d/1CZQ6NPjM5tFcRrjSvTzYBQSed8dmp5Ru/view?usp=share_link" target="_blank" rel="noopener noreferrer" style="text-decoration: none;">
                            <button class="btn btn-outline-primary w-100 d-flex align-items-center justify-content-center">
                                Téléchargez mon CV
                                <img src="assets/icon-download 1.png" alt="Download Icon" width="20" class="mx-2 icon-default">
                                <img src="assets/icon-download 2.png" alt="Download Icon Hover" width="20" class="mx-2 icon-hover">
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 d-flex justify-content-center">
                <img src="assets/hero.png" alt="Osama AHLASA" class="img-fluid rounded-circle" style="width: 300px; height: 300px; object-fit: cover;">
            </div>
        </div>
    </div>
</div>

